<!-- src/app/edit-object/edit-object.component.html -->
<div class="flex justify-center items-center min-h-screen">

<div class="w-11/12 mx-auto bg-white px-12 py-10">
  <h1 class="text-center">Édition de l'objet {{ object?.name }}</h1>
  <form
    ngForm
    class="form"
    #formupdate
    (submit)="handleUpdate(); formupdate.reset()"
  >
    <div class="flex">
      <div class="flex-1">
        <div class="flex-1">
        <div *ngIf="photos.length > 0">
          <div *ngFor="let photo of photos" class="mt-2">
            <img [src]="photo" class="w-12 h-12 object-cover" />
          </div>
        </div>
        </div>
      </div>
      <div class="mt-5 flex flex-col flex-1">
        <mat-form-field class="w-full">
          <input
            matInput
            placeholder="Nom de l'objet"
            [(ngModel)]="name"
            name="object-name"
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <textarea
            matInput
            placeholder="Description"
            [(ngModel)]="description"
            name="description"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Catégorie</mat-label>
          <mat-select (selectionChange)="handleCategoryChange($event)">
            <mat-option *ngFor="let category of categories; let i = index" [value]="i">
              {{ category.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="flex gap-4 mt-10">
          <button
            class="flex-1 hover:bg-red-500 hover:text-white transition-all duration-75 border border-red-500 rounded-lg text-red-500"
            type="button"
            (click)="handleDelete()"
          >
            Supprimer
          </button>
          <button
            [ngClass]="{
              'flex-1': true,
              'bg-blue-500': true,
              'text-white': true,
              'py-2': true,
              'font-bold': true,
              'rounded-lg': true,
              'bg-neutral-200': !name || !description,
              'text-neutral-400': !name || !description,
              'cursor-not-allowed':!name || !description,
            }"
            [disabled]="!name || !description"
            type="submit"
          >
            Mettre à jour
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
</div>