@if (showModal) {
<div
  class="w-full h-full bg-black bg-opacity-75 absolute top-0 left-0 flex items-center justify-center py-10"
  style="z-index: 9990 !important"
>
  <div class="w-8/12 bg-white rounded-xl p-10 max-h-full h-full flex flex-col">
    <button
      (click)="toggleModal()"
      class="flex justify-end text-red-500 pb-2 font-bold"
    >
      X Fermer
    </button>
    <h1 class="mt-5">Liste des etudiants</h1>
    <div class="flex-1 grid grid-cols-2 gap-5 overflow-y-scroll">
      @for (item of students; track $index) {
      <app-student-card
        class="w-full"
        [name]="item.name.last"
        [photo]="item.picture.medium"
        [sid]="'' + ($index + 1)"
        (click)="handleStudentChange($index)"
      />
      }
    </div>
  </div>
</div>
} @if(assignment) {
<div class="w-11/12 mx-auto bg-white px-12 py-10">
  <h1 class="text-center">Edition de l'assignment {{ assignment.name }}</h1>
  <form
    ngForm
    class="form"
    #formupdate
    (submit)="handleUpdate(); formupdate.reset()"
  >
    <div class="flex">
      <div class="flex-1">
        <div class="flex-1">
          <img
            src=""
            class="w-44 h-44 rounded-full mx-auto"
            alt=""
          />
          <h4 class="text-center">
   
          </h4>
        </div>
      </div>
      <div class="mt-5 flex flex-col flex-1">
        <div>
          <div class="flex mt-5 gap-5">
            <div
              class="flex items-center flex-1 gap-4 cursor-pointer"
              (click)="toggleModal()"
            >
              <div class="w-12 h-12">
                <img
                  src=""
                  class="object-fill w-full h-full m-0"
                  alt=""
                />
              </div>
              <p class="m-0"></p>
            </div>
            <div class="flex items-center flex-1 gap-4">
              <div class="w-12 h-12">
                <img
                  src=""
                  class="object-fill w-full h-full m-0"
                  alt=""
                />
              </div>
              <p class="m-0"></p>
            </div>
          </div>
          <mat-form-field class="w-full mt-5">
            <mat-label>Matiere : </mat-label>
            <mat-select (selectionChange)="handleSubjectChange($event)">
              @for (subject of subjects; track $index) {
              <mat-option [value]="$index"></mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input
            matInput
            placeholder="Edition du nom"
            [(ngModel)]="name"
            name="assignment-name"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Edition de la date"
            [(ngModel)]="dateRendu"
            name="date"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Mark</mat-label>
      <input
        type="number"
        name="mark"
        step="0.25"
        min="0"
        max="20"
        [(ngModel)]="mark"
        required
        matInput
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Remark</mat-label>
      <textarea
        matInput
        [(ngModel)]="remark"
        placeholder="Leave a comment"
        name="remark"
      ></textarea>
    </mat-form-field>
    <div class="flex gap-4 mt-10">
      <button
        class="flex-1 hover:bg-red-500 hover:text-white transition-all duration-75 border border-red-500 rounded-lg text-red-500"
        type="button"
        (click)="handleDelete()"
      >
        Delete
      </button>
      <button
        [ngClass]="{
          'flex-1': true,
          'bg-blue-500': true,
          'text-white': true,
          'py-2': true,
          'font-bold': true,
          'rounded-lg': true,
          'bg-neutral-200': !name || !dateRendu,
          'text-neutral-400': !name || !dateRendu,
          'cursor-not-allowed':!name || !dateRendu,
        }"
        [disabled]="!name || !dateRendu"
        type="submit"
      >
        Update
      </button>
    </div>
  </form>
</div>
}
