<!-- add-post.component.html -->

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div formArrayName="objects">
    <div *ngFor="let object of objectsArray.controls; let i=index" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Object</mat-label>
        <mat-select (selectionChange)="onObjectSelect($event, i)">
          <mat-option *ngFor="let obj of objects" [value]="obj.id">{{ obj.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button type="button" (click)="removeObject(i)">Remove</button>
    </div>
  </div>

  <button mat-button type="button" (click)="addObject()">Add Object</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.valid">Add Post</button>
</form>
