<h2 mat-dialog-title>{{ data.post.author.name }} - Détails du post</h2>
<mat-dialog-content>
  <div *ngFor="let objectPost of data.post.objects; let i = index" class="object-detail">
    <div class="object-info">
      <h3><b> {{ objectPost.object.name }}</b></h3>
      <p>{{ objectPost.object.description }}</p>
    </div>
    <div class="object-photos">
      <img
        *ngIf="objectPost.object.photos[photoIndices[i]] != null"
        [src]="objectPost.object.photos[photoIndices[i]]"
        alt="Photo active"
        class="active-photo"
      />
      <div class="photo-thumbnails">
        <img
          *ngFor="let photo of objectPost.object.photos; let j = index"
          [src]="photo"
          alt="Photo {{ j + 1 }}"
          [class.active]="j === photoIndices[i]"
          (click)="showPhoto(i, j)"
        />
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Fermer</button>
</mat-dialog-actions>
