<div class="messenger-container">
    <div class="contacts-list">
      <div *ngFor="let contact of contacts" class="contact-item"     (click)="loadChat(contact.idChat!)">
        <img  src="../../assets/avatar.jpg" alt="Avatar" class="contact-avatar" />
        <div class="contact-info">
          <h4>{{ contact.name }}</h4>
          <p>{{ contact.lastMessage }}</p>
        </div>
      </div>
    </div>
    <div class="chat-container">
      <div class="chat-header">
      </div>
      <div  *ngIf="selectedChat" class="chat-messages">
        <div *ngFor="let message of selectedChat?.messages" 
        [ngClass]="{
          'message-sender': message.author === userId.toString(),
          'message-receiver': message.author !== userId.toString()
        }">
          <p>{{ message.text }}</p>
          <small>{{ message.timestamp | date: 'shortTime' }}</small>
        </div>
      </div>
      <div class="chat-input">
        <input type="text" placeholder="Type a message..." [(ngModel)]="newMessage" />
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>