.modal-container {
  width: 700px; /* Ajustez la largeur */
  height: 80vh; /* Ajustez la hauteur */
  display: flex;
  flex-direction: column;
  position: relative;
}

.spinner-host {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #49A856; /* Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.object-list-container {
  flex-grow: 1;
  margin-top: 20px;
  height: calc(80vh - 80px); /* Ajustez la hauteur pour tenir compte des marges */
  width: 700px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.object-card {
  position: relative;
  height: 200px;
  width: 100%; /* S'assure que la carte occupe toute la largeur disponible */
  max-width: 300px; /* Largeur maximale pour les cartes */
  margin: 20px; /* Espacement entre les cartes */
  border-radius: 8px; /* Coins arrondis pour un aspect plus moderne */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère pour l'effet de profondeur */
  overflow: hidden; /* Cache le débordement pour une apparence propre */
  background-color: #fff; /* Fond blanc pour les cartes */
}

.object-card img {
  width: 100%; /* Prend toute la largeur disponible */
  height: auto; /* Garde les proportions des images */
}


.object-checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
