.modal-container {
  width: 30vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.spinner-host {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #49A856; /* Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.object-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 20px;
  height:100% ;
  width: 100%;
}


mat-form-field {
  width: 100%;
}

.object-card {
  position: relative;
}

.object-checkbox {
  position: absolute;
  top: 8px;
  right: 8px;
}
