@if(assignment) {

<div class="w-11/12 xl:w-8/12 mx-auto py-10 px-16 bg-white shadow">
  <div class="flex items-center gap-4 justify-center">
    <div
      *ngIf="assignment.isHanded"
      class="bg-green-400 rounded-full w-4 h-4"
    ></div>
    <h2 class="m-0 text-center">{{ assignment.name }}</h2>
  </div>

  <div class="flex flex-col h-fit lg:flex-row">
    <div class="flex-1 h-full">
      <img
        src="{{ assignment.subject.picture }}"
        class="h-44 w-44 rounded-full mx-auto"
        alt=""
      />
      <h4 class="text-center">
        {{ assignment.subject.name }}
      </h4>
    </div>
    <div class="mt-5">
      <div class="flex items-center flex-1 gap-4">
        <div class="w-12 h-12">
          <img
            src="{{ assignment.teacher.picture }}"
            class="object-fill w-full h-full m-0"
            alt=""
          />
        </div>
        <p>{{ assignment.teacher.fullName }}</p>
      </div>
      <div class="flex items-center flex-1 gap-4">
        <div class="w-12 h-12">
          <img
            src="{{ assignment.student.profile }}"
            class="object-fill w-full h-full m-0"
            alt=""
          />
        </div>
        <p>{{ assignment.student.name }}</p>
      </div>
      <p>
        <span class="font-bold">Date : </span>
        {{ assignment.dateRendu | date }}
      </p>

      <p><span class="font-bold">Mark : </span> {{ assignment.mark }} / 20</p>
    </div>
  </div>
  <div class="mt-5 flex flex-col">
    <div class="flex gap-4">
      <button
        class="flex-1 hover:bg-red-500 hover:text-white py-2 transition-all duration-75 border border-red-500 rounded-lg text-red-500"
        type="button"
        (click)="handleDelete()"
      >
        Delete
      </button>
      <button
        class="flex-1 transition-all duration-75 py-2 bg-blue-500 rounded-lg text-white"
        (click)="handleUpdate()"
      >
        Edit
      </button>
    </div>
  </div>
</div>
<!-- <mat-card-actions class="container">
    @if(!assignment.isHanded) {
    <mat-checkbox (click)="onAssignmentRendu()">Rendu</mat-checkbox>
    }
    <button
      mat-raised-button
      color="warn"
      (click)="onDelete()"
      [disabled]="!isAdmin()"
    >
      DELETE
    </button>
    <nav>
      <a routerLink="edit">
        <button mat-raised-button color="primary" [disabled]="!isAdmin()">
          EDIT
        </button>
      </a>
    </nav>
  </mat-card-actions> -->

}
