<div class="w-11/12 mx-auto bg-white px-12 py-10">
  <h1 class="text-center">Ajout d'un nouvel objet</h1>
  <form
    (ngSubmit)="handleAddObject()"
    #formAddObject="ngForm"
  >
    <mat-form-field class="w-full mt-5">
      <mat-label>Nom</mat-label>
      <input
        matInput
        placeholder="Nom de l'objet"
        [(ngModel)]="name"
        name="name"
        required
      />
    </mat-form-field>

    <mat-form-field class="w-full mt-5">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Description de l'objet"
        [(ngModel)]="description"
        name="description"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field class="w-full mt-5">
      <mat-label>Catégorie</mat-label>
      <mat-select (selectionChange)="handleCategoryChange($event)" name="category" required>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full mt-5">
      <input
        type="file"
        (change)="handleFileInput($event)"
        multiple
      />
    </mat-form-field>

    <div class="flex gap-4 mt-5">
      <button
        class="flex-1 py-2 bg-blue-500 rounded-lg text-white"
        type="submit"
      >
        Ajouter
      </button>
    </div>
  </form>
</div>

<!-- Prévisualisation des images -->
<div *ngIf="photos.length > 0" class="mt-5">
  <h2>Prévisualisation des photos :</h2>
  <div class="flex flex-wrap gap-2">
    <img *ngFor="let photo of photos" [src]="photo" class="w-24 h-24 object-cover" alt="Photo prévisualisée" />
  </div>
</div>
