<div class="w-11/12 mx-auto bg-white px-12 py-10">
  <form
    (ngSubmit)="handleAddObject()"
    #formAddObject="ngForm"
  >
    <mat-form-field class="w-full mt-5">
      <mat-label>Nom</mat-label>
      <input
        matInput
        placeholder="Nom de l'objet"
        [(ngModel)]="name"
        name="name"
        required
      />
    </mat-form-field>

    <mat-form-field class="w-full mt-5">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Description de l'objet"
        [(ngModel)]="description"
        name="description"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field class="w-full mt-5">
      <mat-label>Catégorie</mat-label>
      <mat-select (selectionChange)="handleCategoryChange($event)" name="category" required>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Champ de téléchargement de fichier sans matInput -->
    <div class="w-full mt-5">
      <label for="photo-upload" class="btn btn-primary upload-btn">
        Ajouter des photos
      </label>
      <input
        type="file"
        id="photo-upload"
        (change)="handleFileInput($event)"
        multiple
        style="display: none"
      />
    </div>
    

    <div class="flex gap-4 mt-5">
      <button
        class="flex-1 py-2 bg-blue-500 rounded-lg text-white"
        type="submit"
      >
        Ajouter
      </button>
    </div>
  </form>
</div>
