.stats-container {
    display: flex;
    height: 100vh;
    flex-direction:column;
    gap: 16px; /* Adjust the gap between the cards as needed */
    padding-top: 16px; /* Add padding to the top of the container */
  }
  
  .stat-card {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 250px; /* Adjust the size of the square as needed */
    height: 150px; /* Adjust the size of the square as needed */
    text-align: center;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    background-color: white; /* Background color for the card */
    font-weight: bold; /* Make text bold */
  }
  
  .stat-card.yellow-bg {
    background-color: #fefcbf; /* Light yellow background */
  }
  
  .stat-title {
    font-size: 16px; /* Title size */
    margin-bottom: 8px; /* Space between title and value */
  }
  
  .stat-value {
    font-size: 36px; /* Value size */
  }
  